/** @format */

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}
canvas {
  display: block;
}

html {
  color-scheme: light dark;
}

nav ul {
  border: #28282b solid 2px;
  border-width: 100%;
  border-radius: 5px;
  font-size: 100%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 50px;
}

nav ul li a {
  text-decoration: none;
}

nav {
  text-align: center;
  border-color: #28282b;
  border-radius: 10px;
  border-width: 2px;
  background-color: #28282b;
  position: sticky;
}

body {
  font-family: monospace;
  font-size: 1.125rem;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: #e2dfd2;
  color: darkgreen;
  margin: 20px;
  padding: 20px;
}

.content {
  background-color: #28282b;
  border: 1px solid #28282b;
  border-radius: 10px;
}

h2 {
  align-items: center;
}

img,
picture,
svg {
  border-radius: 10px;
  max-width: 100%;
  display: block;
}

p {
  color: darkgreen;
}

/* unvisited link */
a:link {
  color: darkgreen;
}

/* visited link */
a:visited {
  color: darkgreen;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}

footer {
  background-color: #28282b;
  border: 1px solid #28282b;
  border-radius: 10px;
}
