/** @format */

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  background: url(images/matrix.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: white;
  color: black;
  min-height: 100%;
}

.container {
  padding: 10px;
}

nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 2px;
  border-color: red;
  border-style: inset;
  border-width: 5px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: red;
  text-decoration: none;
  font-size: 10px;
}
